

html{
  font-size:16px;
  font-family: "freight-sans-pro",sans-serif;
}




body{
  color:#fff;
  background:url(../img/wov.png)

}

.background{
  position: absolute;
  right:0;
}
.container{
  background: url(../img/bike.jpg)no-repeat;
  max-width:100%;
  height:auto;
}

.nav{
  background:#ff8571;
  max-width: 100%;
    height: auto;


}

h1{
  margin:0 auto;
  text-align: center;
  font-weight:900;
  font-size:10rem;
}

ul{
  list-style: none;
  color:#555;
  font-size:2rem;
  text-align: center;

}
li{
  display:inline;
  padding-left:4rem;
  text-align: center;
  text-shadow:#000;
}
li:first-child{
  padding-left:0rem;

}
img{
  max-width: 100%;
    height: auto;
}

.grow{
  animation:grow 5s cubic-bezier(.17, .67,.54,.99), changeCol 1s ease-out;
}

@media only screen and (max-width: 38.125rem) {
  h1{
    font-size:8rem;

  }

}
@media only screen and (max-width: 30.25rem) {
  h1{
    font-size:6rem;
  }
  ul{
    font-size:1rem;
  }
}


@keyframes grow {
	from {transform: scale(1);}
	50% {transform: scale(2);}
  to {transform: scale(1);}
}
